<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hypernode Distributed Ledger Home</title>
</head>
<body>
<h1> Main menu </h1>
<p>This is the main menu for the distributed ledger system<br>
    You can familiarize yourself with the system by reading<br>
    the <a href="/readme.md">README</a><br>
    and then you are ready to start using this app.<br>
    <a href="/hdls-client/newKeyPair">Generate a new key pair</a><br>
    <a href="/hdls-server-admin">Configure this application as a server</a><br>
    <a href="/hdls-client">Configure this application as a client </a><br>
    <a href="/encryptionEntity">Click here to configure this application as a standalone EncryptionEntity</a><br>
    Restart the application to reset the parameters
</p>
</body>
</html>